.books-grid {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    width: 100%;
    gap: 100px;
}

.book-modal-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.book-modal-container-btn {
    height: 40px;
    width: 100px;
}
