.book-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  cursor: pointer;
}

.book-img {
  height: 500px;
  object-fit: fill;
}

.book-container:hover {
  border: 1px solid black;
}
