.book-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    cursor: pointer;
    border: 1px solid black;
}

.book-img {
    height: 300px;
    object-fit: contain;
}

.book-container:hover {
    border: 2px solid black;
}
